name: Publish RAGEngine MCR image
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag to be created for this image (e.g. v0.6.0)'
        required: true
  repository_dispatch:
    types: [ publish-rag-controller-mcr-image ]

permissions:
  contents: write
  packages: write

env:
  GO_VERSION: '1.24'
  IMAGE_NAME: 'ragengine'

jobs:
  build-publish-mcr-image:
    runs-on:
      labels: [ "self-hosted", "1ES.Pool=1es-aks-kaito-agent-pool-ubuntu" ]
    environment: publish-mcr
    steps:
      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.19.4'

      - name: Install ORAS
        run: |
          VER='1.3.0'
          curl -LO "https://github.com/oras-project/oras/releases/download/v${VER}/oras_${VER}_linux_amd64.tar.gz"
          sudo tar -zxf "./oras_${VER}_linux_amd64.tar.gz" -C '/usr/local/bin'
          rm -f "./oras_${VER}_linux_amd64.tar.gz"

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ env.GO_VERSION  }}

      - name: Set Image tag
        run: |
          ver=${{ github.event.client_payload.tag || github.event.inputs.tag }}
          echo "IMG_TAG=${ver#"v"}" >> $GITHUB_ENV

      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          submodules: true
          ref: ${{ github.event.client_payload.tag || github.event.inputs.tag }}

      - name: Authenticate to ACR
        run: |
          az login --identity
          az acr login -n ${{ secrets.KAITO_MCR_REGISTRY }}

      - name: 'Build and Publish RAGEngine to MCR'
        id: Publish
        run: |
          ARTF_REPO="${REGISTRY}/${RAGENGINE_IMAGE_NAME}"
          INDEX_REF="${ARTF_REPO}:${IMG_TAG}"

          make docker-build-ragengine
          INDEX_DIG="$(oras manifest fetch --format 'go-template={{ .digest }}' "${INDEX_REF}")"

          # TODO(pedrotorres): remove REGISTRY override and uncomment all lines once sync problem is solved
          make helm-package-ragengine REGISTRY="${REGISTRY}/helm"
          # CHART_DIG="$(oras manifest fetch --format 'go-template={{ .digest }}' "${INDEX_REF}")"
          #
          # oras manifest index update "${ARTF_REPO}@${INDEX_DIG}" --add "${CHART_DIG}" --tag "${IMG_TAG}"
        env:
          VERSION: ${{ github.event.client_payload.tag || github.event.inputs.tag }}
          REGISTRY: ${{ secrets.KAITO_MCR_REGISTRY }}/public/aks/kaito
          RAGENGINE_IMAGE_NAME: ragengine
          IMG_TAG: ${{ env.IMG_TAG }}

  publish-helm-chart:
    runs-on: ubuntu-latest
    needs: [ build-publish-mcr-image ]
    steps:
      - name: 'Dispatch release tag for ragengine helm chart'
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: publish-ragengine-helm-chart
          client-payload: '{"tag": "${{ github.event.client_payload.tag || github.event.inputs.tag }}"}'
